:root {
    --sixth-black: #1C1713;
    --sixth-brown: #2C231E;
    --sixth-yellow: #FCB716;
    --sixth-beige: #EFE3C4;
    --sixth-white: #FFFFFF;
  }
  
  *::-webkit-scrollbar {
    display: none;
  }
  
  body {
    background-color: var(--sixth-brown) !important;
  }
  
  nav {
    background-color: var(--sixth-brown) !important;
  }
  
  .nav-button {
    background-color: var(--sixth-yellow) !important;
    border-color: var(--sixth-yellow) !important; 
    width: 40px !important; 
    height: 40px !important;
  }
  
  .text-sixth-beige {
    color: var(--sixth-beige) !important;
  }
  
  .dropdown-menu {
    background-color: var(--sixth-beige) !important;
    color: var(--sixth-black) !important;
  }
  
  .dropdown-item:hover {
    background-color: var(--sixth-beige) !important;
    font-weight: 500 !important;
  }
  
  .kpi-bar {
    background-color: var(--sixth-yellow);
    height: 15px; 
  }

<<<<<<< HEAD
.btn-card {
    transition: box-shadow .3s;
    border-radius: 20px;
}

.sixth-bg-primary {
    background-color: var(--sixth-primary);
}

.sixth-bg-secondary {
    background-color: var(--sixth-secondary);
}

.sixth-bg-tertiary {
    background-color: var(--sixth-tertiary);
}

.sixth-bg-beige {
    background-color: var(--sixth-beige);
}

.sixth-bg-beige-2 {
    background-color: var(--sixth-beige-2);
}

.sixth-bg-white {
    background-color: var(--sixth-white);
}

.btn-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

div.sixth-primary {
    background-color: var(--sixth-primary);
}

div.sixth-secondary {
    background-color: var(--sixth-secondary);
}

div.sixth-tertiary {
    background-color: var(--sixth-tertiary);
} 

div.sixth-tertiary h1, div.sixth-tertiary p {
    color: var(--sixth-beige);
}

div.sixth-beige {
    background-color: var(--sixth-beige);
} 

div.sixth-beige h1, div.sixth-beige p {
    color: var(--sixth-primary);
}

div.sixth-beige-2 {
    background-color: var(--sixth-beige-2);
}

div.sixth-white {
    background-color: var(--sixth-white);
}





.fixed-width-span {
    width: 120px; /* Adjust the width as needed */
}

.spacer {
    height: 1pc;
}

.white-button {
    background-color: #fff;
    border-color: #000000;
}

.custom-control-input{
    color: green;
}
=======
  .header-custom {
    background: url('../images/header.jpg');
    background-repeat: no-repeat !important;
    background-position: center;
    height: calc(100vh - 71px);
    width: 100%;
    filter: drop-shadow(5px 29px 40px #000000);
  }
>>>>>>> main
