.fixed-width-span {
    width: 120px; /* Adjust the width as needed */
}



  .spacer {
    height: 1pc;
}

.white-button {
    background-color: #fff;
    border-color: #000000;
}

.custom-control-input{
    color: green;
}

